.bio {
  @apply text-gray-600 dark:text-gray-300;
}

.author-description {
  display: flex;
}

.author-name {
  margin-left: 16px;
}

.author-name-prefix {
  font-size: 90%;
  margin-right: 4px;
}

.author-name-content {
  display: inline-block;
  font-size: 85%;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 8px;
  transform-origin: center;
  animation: flutter 2s infinite linear;
  background-color: #383636;
}

.author-introduction {
  margin-top: 4px;
  font-size: 80%;
  line-height: 1.4;
}

.author-socials {
  margin-top: 4px;
}

.author-socials img {
  display: inline;
}

.bio a {
  margin-right: 8px;
  font-size: 80%;
}

@-webkit-keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
